* {
  box-sizing: border-box;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-image {
  height: 300px;
  width: 500px;
  object-fit: cover;
}
